.img-fluid { 
    width: 100%;
    height:auto;
}

.container { 
    width: 100%;
    height:auto;
}

@media screen and (max-width: 500px) { 
    .responsive {
        padding: 0px 0x;
    }

    .responsive img{
        width: 100%;
        height: auto;
    }


}